:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --bg-themes: #576e75;
    --sb-themes: #576e75;
    --colorShadeA: rgb(106, 163, 137);
    --colorShadeB: rgb(121, 186, 156);
    --colorShadeC: rgb(150, 232, 195);
    --colorShadeD: rgb(187, 232, 211);
    --colorShadeE: rgb(205, 255, 232);
    --transition-speed: 900ms;
  }

  body {
    color:  hsl(152, 100%, 93%);
    background-color: var(--bg-themes);
    margin: 0;
    padding: 0;
  }

  body::-webkit-scrollbar {
    width: 1rem;
  }

  body::-webkit-scrollbar-track {
    background: #ffffff;
  }

  body::-webkit-scrollbar-thumb {
    background: var(--sb-themes);
  }

  .flex-container {
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
    flex-direction: column;
  }

  main {
    margin-top: 2rem;
    margin-left: 14rem;
    margin-right: 18rem;
    background-color: transparent;
    color: var(--text-primary);
  }

  .navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 900ms ease;
  }

  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .nav-item {
    width: 100%;
  }

  .nav-item:last-child {
    margin-top: auto;
  }

  .nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: 1100ms;
  }

  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
  }

  .link-text {
    display: none;
    margin-left: 1rem;
  }

  .nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }

  .fa-primary {
    color: #ff7eee;
  }

  .fa-secondary {
    color: #df49a6;
  }

  .fa-primary,
  .fa-secondary {
    transition: var(--transition-speed);
  }

  .logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
  }

  .logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
  }

  .logo-text
  {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
  }

  .navbar:hover .logo svg {
    transform: rotate(-180deg);
  }

  /* Small screens */
  @media only screen and (max-width: 600px) {
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }

    .logo {
      display: none;
    }

    .navbar-nav {
      flex-direction: row;
    }

    .nav-link {
      justify-content: center;
    }
  }

  /* Large screens */
  @media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }

    .navbar:hover {
      width: 18rem;
    }

    .navbar:hover .link-text {
      display: inline;
    }

    .navbar:hover .logo svg
    {
      margin-left: 11rem;
    }

    .navbar:hover .logo-text
    {
      left: 0px;
    }
  }

  .dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #68688b;
    --bg-secondary: #41414e;
    --bg-themes: #41414e;
    --sb-themes: #41414e;
  }

  .light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
    --bg-themes: #e4e4e4;
    --sb-themes: #e4e4e4;
  }

  .solar {
    --text-primary: #576e75;
    --text-secondary: #35535c;
    --bg-primary: #fdf6e3;
    --bg-secondary: #f5e5b8;
    --bg-themes: #f5e5b8;
    --sb-themes: #f5e5b8;
  }

  .theme-icon {
    display: none;
  }

  .dark #darkIcon {
    display: block;
  }

  .light #lightIcon {
    display: block;
  }

  .solar #solarIcon {
    display: block;
  }

  .h1{
    font-size: 2rem;
  }

  .h2{
    font-size: 1.5rem;
  }

  /*BLOG CARD*/

@import url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/584938/library.less");
@import url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/584938/variables.less");

.container-fluid {
	align-items: center;
	width: 100%;

	@media (max-width: 530px) {
		left: 0;
		margin: 10px 0;
		position: relative;
		top: 0;
		transform: none;
	}
}

.images {
  background-position: center;
}

.card-body {
	color: #000000;
	height: 100%;
	padding: 30px 20px 50px;

	@media (max-width: 530px) {
		background-color: white;
	}
}

.tagline {
	font-size: 8px;
	text-transform: uppercase;
}

.title {
	color: #000000;
	font-size: 30px;
	font-weight: 400;
}

.divider {
	background: #576e75;
	height: 2px;
	margin: 25px auto;
	width: 15rem;
}

.paragraph {
	font-weight: 300;
}

.read-more {
	bottom: 25px;
	color: #000000;
	cursor: pointer;
	left: 50%;
	padding: 5px;
	position: absolute;
	text-decoration: none;
	top: auto;
  transform: translateX(-50%);
}
	.read-more:hover,
	.read-more:focus,
	.read-more:visited {
		color: #7174ff;
		text-decoration: none;
	}

@media (max-width: 530px) {
	.col-xs-6 {
		width: 80%;
	}
}

p{
  font-size: 20px;
  font-family: 'Open Sans';
  color: black;
  text-align: justify;
}
.pSmall{
  font-size: 20px;
  font-family: 'Open Sans';
  color: black;
  text-align: center;
}

.image{
  width: 500px;
  height: 400px;
}
/*BUTTONS*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: 0.7rem;
    color:var(--text-primary);
  font-weight: 700;
  text-transform: uppercase;
  font-family: inherit;
  margin-top: 0;
  margin-bottom: 10px;
}

button.big-button {
   padding: 1em 2em;
   border: 1px solid var(--text-primary);
  border-radius: 1em;
  background: var(--bg-themes);
transform-style: preserve-3d;
   transition: all 175ms cubic-bezier(0, 0, 1, 1);
}
button.big-button::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--bg-themes);
  border-radius: inherit;
 transform: translate3d(0, 0.75em, -1em);
     transition: all 175ms cubic-bezier(0, 0, 1, 1);
}
button.big-button:hover {
  background: var(--bg-primary);
  color: var(--text-secondary);
  border-color: var(--text-secondary);
}
button.big-button:hover::before {
  transform: translate3d(0, 0.75em, -1em);
}
button.big-button:active {
            transform: translate(0em, 0.75em);
}
button.big-button:active::before {
  transform: translate3d(0, 0, -1em);
}

footer{
  margin-left: 14rem;
  margin-right: 18rem;
}

@media (min-width: 500px) {
  divFooter {
      display: flex;
      width: 80%;
      align-items: center;
      flex-direction: row;
  }
}

@keyframes wave-animation {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-15deg);
  }
}
